<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <property name="LOG_PATH" value="/hms/logs/graphql-app/"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--<appender name="error"-->
              <!--class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>/rnd/logs/sso-api/log-error.log</file>-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>ERROR</level>-->
        <!--</filter>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<Pattern>-->
                <!--%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n-->
            <!--</Pattern>-->
        <!--</encoder>-->

        <!--<rollingPolicy-->
                <!--class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; rollover daily and when the file reaches 10 MegaBytes &ndash;&gt;-->
            <!--<fileNamePattern>/rnd/logs/sso-api/log-error-%d{yyyy-MM-dd}.%i.log-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->

    <!--</appender>-->

    <appender name="debug"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/log-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOG_PATH}/log-debug-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!--<appender name="info"-->
              <!--class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>/rnd/logs/sso-api/log-info.log</file>-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>INFO</level>-->
        <!--</filter>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<Pattern>-->
                <!--%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}- %msg%n-->
            <!--</Pattern>-->
        <!--</encoder>-->

        <!--<rollingPolicy-->
                <!--class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; rollover daily and when the file reaches 10 MegaBytes &ndash;&gt;-->
            <!--<fileNamePattern>/rnd/logs/sso-api/log-info-%d{yyyy-MM-dd}.%i.log-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->
        1

    <logger name="com.rnd" level="debug"/>

    <logger name="graphql" level="debug" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.apache" level="ERROR" />
    <!-- todo : add loger for c3p0 <logger name="" level="ERROR" />-->

    <root level="debug">
        <appender-ref ref="debug"/>
        <appender-ref ref="console"/>
    </root>

</configuration>